 /* GLOBAL STYLES */
 html {
     box-sizing: border-box;
     height: 100%;
     scroll-behavior: smooth;
 }

 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }

 a {
     text-decoration: none;
 }

 body {
     display: flex;
     flex-direction: column;
     height: 100%;
     font-family: 'Montserrat', Arial, sans-serif;
     margin: 0;
     padding: 0;
     font-size: 15px;
     font-weight: bold;
     line-height: 28px;
     color: #6E728E;
     background-color: #F7F7FE;
     background-image: url(../img/bg-left.svg), url(../img/bg-right.svg);
     background-repeat: no-repeat, no-repeat;
     background-position: bottom -220px left, top right;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 /* CONTAINER */
 .container {
     width: 100%;
     max-width: 1050px;
     margin-left: auto;
     margin-right: auto;
 }

 .wrapper {
     padding: 71px 0;
     text-align: center;
 }

 /* visually hidden */
 
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 /* Header */

 .header {
     text-align: center;
     margin-bottom: 64px;
 }

 .header__title {
     font-size: 32px;
     line-height: 39px;
     margin: 0;
     margin-bottom: 40px;
 }

 /* ----------------Toggle Button Styles------------------- */


 .header__toggle {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .header__toggle--label{
     color: rgba(109, 112, 141, 0.5);
     cursor:pointer;
 }

 .header__toggle--label:hover{
     color: rgba(109, 112, 141, 1);
 }


 .header__toggle--control {
    position: relative;
     width: 56px;
     height: 32px;
     padding: 4px;
     border-radius: 16px;
     position: relative;
     cursor: pointer;
     background-image: linear-gradient(to right, #a3a8f0, #696fdd);
     margin: 0 24px;
 }

 .toggle-control__circle{
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1rem rgb(73 76 95 / 50%);
    margin-right: auto;
    transition: margin 0.3s ease;
 }


 .toggle-control__annual, 
 .toggle-control__monthly{
     position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
 }

 
 .header__toggle--annual:checked ~ .toggle-control .toggle-control__monthly,
 .header__toggle--monthly:checked ~ .toggle-control .toggle-control__annual{
    z-index: 5;
 }

 .header__toggle--monthly:checked ~ .toggle-control .toggle-control__circle {
    margin-left: 24px;
 }


 /* MAIN-CONTENT */

 .main-content {
     flex-grow: 1;
     width: 100%;
 }

 .cards {
     display: flex;
     align-items: center;
     flex-wrap: no-wrap;
 }

 .card {
     flex-grow: 1;
     max-width: 350px;
     text-align: center;
     padding: 31px;
     background-color: #FFFFFF;
     box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
 }

 .card:first-child {
     border-radius: 10px 0px 0px 10px;
     /* TODO:not working */
 }

 .card:last-child {
     border-radius: 0px 10px 10px 0px;
 }

 .card__best {
     background-color: #FFFFFF;
     background-image: linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);
     box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
     border-radius: 10px;
     padding: 55px 31px;
     color: #fff;
 }

 .card__best .card__details {
     border-top: 1px solid rgba(255, 255, 255, 0.25);
 }

 .card__best .dollar-sign,
 .card__best .card__price {
     color: #fff;
 }

 .card__best .card__details--item {
     border-bottom: 1px solid rgba(255, 255, 255, 0.25);
 }

 .card__title {
     font-style: 18px;
     font-weight: bold;
     margin: 0;
     margin-bottom: 24px;
 }

 .card__price {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 72px;
     line-height: 71px;
     letter-spacing: -2.16px;
     color: #4A4D60;
     padding-bottom: 32px;

 }

 .dollar-sign {
     font-weight: bold;
     font-size: 40px;
     line-height: 49px;
     margin-right: 8px;

 }

 .card__details {
     margin: 0;
     padding: 0;
     list-style: none;
     margin-bottom: 32px;
     border-top: 1px solid rgba(0, 30, 255, 0.25);
 }

 .card__details--item {
     padding: 12px;
     border-bottom: 1px solid rgba(110, 114, 142, 0.25);
 }

 .card__button {
     display: block;
     margin: 0;
     border: none;
     padding: 14px;
     background-color: transparent;
     text-transform: uppercase;
     font-size: 13px;
     line-height: 16px;
     letter-spacing: 1.4;
     color: #FFFFFF;
     border-radius: 6px;
     border: 1px solid transparent;
 }

 .button-primary {
     background-color: #fff;
     background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
 }

 .button-primary:hover {
     background-color: #FFFFFF;
     border: 1px solid #6D72DE;
     color: #6D72DE;
     background-image: none;
 }


 .button-white {
     color: #6D72DE;
     background-color: #FFFFFF;
     background-image: none;
 }

 .button-white:hover {
     background-color: transparent;
     color: #fff;
     border-color: #fff;
 }
